<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #addbe1;">

  <a class="navbar-brand" href="#"><b>Excel Tool</b></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">

      <li class="nav-item active">

        <a class="nav-link" routerLink="/upload">Upload</a>

      </li>

      <li class="nav-item active">

          <a class="nav-link" routerLink="/retrieve">Retrieve</a>

        </li>

    </ul>

    <div class="title pd-2" class="navbar-brand"  style="margin-left: 19%;">

      <b>EXCEL TO ENTITY CONVERTER TOOL</b>
      <br>
      <h5 style="margin-left: 20%;">Store Any Excel Workbook in Database</h5> 
   
    </div>


  </div>


 

</nav>
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Excel Tool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/upload">Upload</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/retrieve">Retrieve</a>
          </li>
      </ul>
    </div>
  </nav> -->
